{% extends 'work/base.html' %}
{% block navbar-nav %}
    <li><a href="javascript:ModalAddTODO();"><span class="icon icon-plus click"></span></a></li>
    <li><div class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-cog"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Log out</a></li>
        </ul>
    </div></li>
{% endblock navbar-nav %}

{% block container %}
    <div class="container listindex">
        <div class="row">
          <div class="col-md-3 left-bar">
            <ul id="Regular" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">All TODOs<span class="badge pull-right">{{ number }}</span></a></li>
              <li><a href="#">Today</a></li>
            </ul>
          </div>
          <div class="col-md-9 mainbody">
              <h4 class="index-name">
                  <span>TodoList</span>
                  <div class="dropdown pull-right">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-wrench"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Sort by Priority</a></li>
                          <li><a href="#">Sort by Expire Time</a></li>
                      </ul>
                  </div>
              </h4>
              <div class="indexlist">
                  {% if unfinishedlist|length > 0 %}
                  <div class="indexbox">
                      <h5 class="boxtitle">TODOs</h5>
                      <ul class="worklist items">
                          {% for item in unfinishedlist %}
                          <li class="worklist-item" id="unfinished-{{ item.id }}">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="checker">
                                            <div class="icheckbox"><input type="checkbox"></div>
                                        </td>
                                        <td class="worklist-item-content content">
                                            <div class="pull-right expire-time"><span>{{ item.expiretime|date:"Y-m-d H:i"}}</span></div>
                                            <span class="text">{% item.content|escape %}</span>
                                        </td>
                                        <td class="operations dropdown" value="{% item.priority %}">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-equalizer click"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="dropdown-edit"><a href="#">Edit</a></li>
                                                <li class="divider"></li>
                                                {% include 'work/__priority-choice.html' %}
                                                <li class="divider"></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% endif %}
                  <div id="addnewwork">
                          <a href="javascript:LinkAddTODO();"><span><span class="icon icon-plus"></span>Add new tasks</span></a>
                  </div>
                  {% if finishedlist|length > 0 %}
                  <div class="indexbox finished">
                      <h5 class="boxtitle">Expired</h5>
                      <ul class="worklist items">
                          {% for item in finishedlist %}
                          <li class="worklist-item" id="unfinished-{{ item.id }}">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="checker">
                                            <div class="icheckbox"><input type="checkbox" disabled checked></div>
                                        </td>
                                        <td class="worklist-item-content content">
                                            <div class="pull-right expire-time"><span>{{ item.expiretime|date:"Y-m-d H:i"}}</span></div>
                                            <span class="text">{% item.content|escape %}</span>
                                        </td>
                                        <td class="operations dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-equalizer click"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% endif %}
              </div>
          </div>
       </div>
    </div>
    {% include 'work/__new-task.html' %}
{% endblock container%}