{% extends 'work/base.html' %}
{% block navbar-nav %}
    <li><a href="javascript:ModalAddTODO();"><span class="icon icon-plus click"></span></a></li>
    <li><div class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-cog"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Log out</a></li>
        </ul>
    </div></li>
{% endblock navbar-nav %}

{% block inpagecss %}
{% for pri in prilist %}

.{{ pri.name }}[value={{ pri.name }}] .icon,
div.dropdown[value={{ pri.name }}] a.dropdown-toggle>.icon
{
    color: {{ pri.color }};
}
.{{ pri.name }}[value={{ pri.name }}]>a:hover>.icon, .{{ pri.name }}[value={{ pri.name }}]>a:focus>.icon,
div.dropdown[value={{ pri.name }}] a.dropdown-toggle:hover>.icon, div.dropdown[value={{ pri.name }}] a.dropdown-toggle:focus>.icon
{
    color: {{ pri.hovercolor }};
}
{% endfor %}
{% endblock inpagecss %}

{% block container %}
    <div class="container listindex">
        <div class="row">
          <div class="col-md-3 left-bar">
            <ul id="Regular" class="nav nav-pills nav-stacked">
                {% block leftbar-lis %}
                {% endblock leftbar-lis %}
            </ul>
          </div>
          <div class="col-md-9 mainbody">
              <h4 class="index-name">
                  <span>TodoList</span>
                  <div class="dropdown pull-right">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-wrench"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="javascript:WorkSortBy('-prior');">Sort by Priority</a></li>
                          <li><a href="javascript:WorkSortBy('expiretime');">Sort by Expire Time</a></li>
                      </ul>
                  </div>
              </h4>
              <div class="indexlist">
                  {% block unfinishmodule %}
                  {% endblock unfinishmodule %}
                  {% block finishedmodule %}
                  {% endblock finishedmodule %}
              </div>
          </div>
       </div>
    </div>
    {% include 'work/__new-task.html' %}
{% endblock container%}