{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>Minimal Bootflat example</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'work/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'work/css/bootflat.min.css' %}">
        <link rel="stylesheet" href="{% static 'work/css/site.css' %}">
        <link rel="stylesheet" href="{% static 'work/css/square/blue.css' %}">
        <link rel="stylesheet" href="{% static 'work/css/icomoon.css' %}">
        <link rel="stylesheet" href="{% static 'work/css/bootstrap-datetimepicker.min.css' %}">
        <!-- JS files.-->
        <script src="{% static 'work/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'work/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'work/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'work/js/icheck.min.js' %}"></script>
        <script src="{% static 'work/js/jquery.fs.selecter.min.js' %}"></script>
        <script src="{% static 'work/js/jquery.fs.stepper.min.js' %}"></script>
        <script src="{% static 'work/js/site.js' %}"></script>
    </head>
    <body style="background-color: #F5F7FA;">
    <div id="docs-header">
      <!--nav-->
        <nav class="navbar navbar-custom head-navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">TodoList</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search">
                <div class="form-search search-only" style="margin-left: 5px">
                  <span class="icon icon-search search-icon"></span>
                  <input type="text" class="form-control search-query">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href=""><span class="icon icon-plus click"></span></a></li>
                <li><div class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Log out</a></li>
                    </ul>
                </div></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      <!--header-->
    </div>
    <div class="container listindex">
        <div class="row">
          <div class="col-md-3 left-bar">
            <ul id="Regular" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">All Tasks<span class="badge pull-right">42</span></a></li>
              <li><a href="#">Today</a></li>
            </ul>
          </div>
          <div class="col-md-9 mainbody">
              <h4 class="index-name">
                  <span>TodoList</span>
                  <div class="dropdown pull-right">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-wrench"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Sort by Priority</a></li>
                          <li><a href="#">Sort by Expire Time</a></li>
                      </ul>
                  </div>
              </h4>
              <div class="indexlist">
                  <div class="indexbox">
                      <h5 class="boxtitle"><span class="word-danger">Expired</span></h5>
                      <ul class="worklist items">
                          <li class="worklist-item">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="checker">
                                            <div class="icheckbox"><input type="checkbox" name="quux[1]"></div>
                                        </td>
                                        <td class="worklist-item-content content">
                                            <div class="pull-right expire-time"><span>17 July</span></div>
                                            <span class="text">no guoqi</span>
                                        </td>
                                        <td class="operations dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon icon-equalizer click"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Edit</a></li>
                                                <li class="divider"></li>
                                                <li class="priority-choice disabled"><a href="#" disabled>
                                                    <table>
                                                        <tbody>
                                                        <tr>Priority</tr>
                                                        <tr>
                                                            <td><a href="#"><span class="icon icon-star-empty"></span></a></td>
                                                            <td><a href="#"><span class="icon icon-star-empty"></span></a></td>
                                                            <td><a href="#"><span class="icon icon-star-empty"></span></a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                          <li class="manage indent">
                              <form>
                                  <table width="100%">
                                      <tbody>
                                      <tr>
                                          <td class="text_box_holder">
                                              <span class="rich_text_placeholder" style="width: 451px;">例如： 每两天学习葡萄牙语 共享</span><div tabindex="1" autocomplete="off" withplaceholders="true" class="richtext_editor sel_richtext_editor" contenteditable="true"></div>
                                          </td>
                                          <td class="due_date_holder minical_holder">
                                              <input type="text" value="2012-05-15 21:05" id="datetimepicker">
                                          </td>
                                          <td class="people_assigner_holder">
                                              <img src="https://d3ptyyxy2at9ui.cloudfront.net/76084e29cb2cf72b320e888edc583dfb.gif" width="22" height="20" class="cmp_share_person form_action_icon menu_icon assign_icon" style="display: none;"></td>
                                          <td class="menu"></td>
                                      </tr>
                                      </tbody>
                                  </table>
                                  <table class="td_submit_area"><tbody><tr>
                                      <td align="left" class="td_submit">
                                          <a href="#" class="amibutton amibutton_red submit_btn"><span>添加任务</span></a>
                                          <a class="cancel" href="" tabindex="4">取消</a></td>
                                      <td align="right" class="td_extra"><span class="form_icon_holder">
                                          <img src="https://d3ptyyxy2at9ui.cloudfront.net/76084e29cb2cf72b320e888edc583dfb.gif" width="14" height="15" class="cmp_project form_action_icon"><span></span>
                                          <img src="https://d3ptyyxy2at9ui.cloudfront.net/76084e29cb2cf72b320e888edc583dfb.gif" width="17" height="15" class="cmp_reminders form_action_icon menu_icon" id="reminders_icon">
                                          <img src="https://d3ptyyxy2at9ui.cloudfront.net/76084e29cb2cf72b320e888edc583dfb.gif" width="15" height="16" class="cmp_priority4 form_action_icon menu_icon">
                                          <img src="https://d3ptyyxy2at9ui.cloudfront.net/76084e29cb2cf72b320e888edc583dfb.gif" width="22" height="16" class="cmp_menu_on form_action_icon menu_icon"></span></td>
                                  </tr></tbody></table>
                              </form>
                          </li>
                      </ul>
                      <div id="addnewwork">
                          <a href="#"><span class="icon icon-plus"></span>Add new tasks</a>
                      </div>
                  </div>
              </div>
          </div>
       </div>
    </div>
    </body>
</html>